
.hidden.menu {
    display: none;
  }

  .masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
  }
  .masthead .logo.item img {
    margin-right: 1em;
  }
  .masthead .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .ui.vertical.stripe {
    padding: 8em 0em;
  }
  .ui.vertical.stripe h3 {
    font-size: 2em;
  }
  .ui.vertical.stripe .button + h3,
  .ui.vertical.stripe p + h3 {
    margin-top: 3em;
  }
  .ui.vertical.stripe .floated.image {
    clear: both;
  }
  .ui.vertical.stripe p {
    font-size: 1.33em;
  }
  .ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
  }

  .quote.stripe.segment {
    padding: 0em;
  }
  .quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }

  .footer.segment {
    padding: 5em 0em;
  }

  .secondary.pointing.menu .toc.item {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    .ui.fixed.menu {
      display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
      display: none;
    }
    .secondary.pointing.menu .toc.item {
      display: block;
    }
    .masthead.segment {
      min-height: 350px;
    }
    .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }
    .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }

#sarah-logo-hero {
  width: 400px;
  height: 200px;
  margin-top: 130px;
}

#sarah-logo {
  width: 120px;
  height: 60px;
}


#hero-container {
  background: whitesmoke no-repeat center fixed;
}


#main-container{
  background-color: #E7CFCD;
}

a{
  font-family: 'Montserrat', sans-serif;
}

.about-me {
  text-align: center;
}


* { 
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  padding: 0;
}

.skills {
   width: 500px;
   margin: 60px auto;
   color: #333;
}

.skills li {
  margin: 20px 0;
}

.bar{
  background: rgb(118, 116, 121);
  display: block;
  height: 10px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(80, 92, 88);
}

.bar span{
  height: 10px;
  float: left;
  background: #E7CFCD;
}

.html {
  width: 90%;
  animation: html 2s;
}
.css {
  width: 90%;
  animation: css 2s;
}
.php {
  width: 70%;
  animation: php 2s;
}
.javascripti{
  width: 80%;
  animation: javascript 2s;
}
.csharp {
  width: 80%;
  animation: csharp 2s;
}
.wordpress {
  width: 80%;
  animation: wordpress 2s;
}
.asp {
  width: 70%;
  animation: asp 2s;
}

.react {
  width: 60%;
  animation: react 2s;
}
.azures {
  width: 60%;
  animation: azures 2s;
}
.sql {
  width: 75%;
  animation: sql 2s;
}
.pm {
  width: 80%;
  animation: pm 2s;
}
.im {
  width: 90%;
  animation: im 2s;
}
@keyframes html {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes csharp {
  0% {
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes wordpress {
  0% {
    width: 0%;
  }
  100%{
    width:80%;
  }
}

@keyframes php {
  0% {
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes asp {
  0% {
    width: 0%;
  }
  100%{
    width: 70%;
  }
}

@keyframes react {
  0% {
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100%{
    width: 75%;
  }
}

@keyframes azures {
  0% {
    width: 0%;
  }
  100%{
    width: 60%;
  }
}

@keyframes pm {
  0% {
    width: 0%;
  }
  100%{
    width: 80%;
  }
}

@keyframes im {
  0% {
    width: 0%;
  }
  100%{
    width: 90%;
  }
}

.projects {
  background: #9F9AA4;
}
.projects-img {
  max-height: 230px;
}

.card {
  min-height: 300px !important;
}

i.fas {
  font-size: 80px;
  text-align: center;
  color: #CD99AC;
}

.section-header {
  color: #CD99AC;
  text-align: center;
  font-size: 36px;
}

.sub-header {
  color: rgb(118, 116, 121);
  font-family: 'Montserrat', sans-serif;
}

.project-header {
  color: white;
  font-size: 20px;
}

.tech-stack, .project-details {
  color: white;
  font-size: 14px;
}


.extra {
  margin-top: 15px;
}

.project-btn {
  color: #CD99AC !important;
}

.section-header-project {
  font-size: 36px;
  color: rgb(118, 116, 121);
  margin-bottom: 60px;
}

.sub-detail {
  font-size: 20px;
  color: #D4AAB8;
  font-family: 'Montserrat', sans-serif;
}

.hire-btn 
{
 margin-top: 20px !important;
}

.footer-links {
color:  rgb(118, 116, 121);
font-weight: bolder;
}
.footer-links:hover {
  color:  #D4AAB8;
  font-weight: bolder;
  }

  .profile-icons {
    color: #CD99AC;
    font-size: 40px;
  }